body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size-adjust: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #00008b;
  color: white;
  border-bottom-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Roboto",
    monospace;
font-size-adjust: auto;
}
